output/*
builders/csharp/**/obj
builders/csharp/**/bin
builders/csharp/*.suo
builders/csharp/**/*.user
builders/csharp/Doodads.Builder.Test/JavaScript/*
builders/csharp/Doodads.Builder.Test/doodads/*
builders/csharp/Doodads.Builder.Test/tipsy.css
node_modules/*