/* Button */
.button
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	
	background: #8EACC9; /* Old browsers */
    background: -moz-linear-gradient(top, #c5d2de 0%, #6591ba 20%, #6591ba 80%, #415f77 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5d2de), color-stop(20%,#6591ba), color-stop(80%,#6591ba), color-stop(100%,#415f77)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c5d2de 0%,#6591ba 20%,#6591ba 80%,#415f77 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c5d2de 0%,#6591ba 20%,#6591ba 80%,#415f77 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #c5d2de 0%,#6591ba 20%,#6591ba 80%,#415f77 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5d2de', endColorstr='#415f77',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #c5d2de 0%,#6591ba 20%,#6591ba 80%,#415f77 100%); /* W3C */
	
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 2px;
	text-align: center;
		
	white-space: nowrap;
	
	display: inline-block;
	
	min-width: 70px;

	-moz-user-select: none;
	-webkit-user-select: none;
	outline: none;
	
	cursor: default;
	
	/* DIE IE7 */
	zoom: 1;
	*display: inline;
}

.buttonDisabled
{
	background: #B2C2D1; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 1%, #b2c2d1 20%, #b2c2d1 80%, #6c8399 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eeeeee), color-stop(20%,#b2c2d1), color-stop(80%,#b2c2d1), color-stop(100%,#6c8399)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 1%,#b2c2d1 20%,#b2c2d1 80%,#6c8399 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 1%,#b2c2d1 20%,#b2c2d1 80%,#6c8399 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 1%,#b2c2d1 20%,#b2c2d1 80%,#6c8399 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#6c8399',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 1%,#b2c2d1 20%,#b2c2d1 80%,#6c8399 100%); /* W3C */	
}

.buttonHover 
{
	background: #78421C; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 1%, #6ea7d8 20%, #6ea7d8 80%, #4d7493 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eeeeee), color-stop(20%,#6ea7d8), color-stop(80%,#6ea7d8), color-stop(100%,#4d7493)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 1%,#6ea7d8 20%,#6ea7d8 80%,#4d7493 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 1%,#6ea7d8 20%,#6ea7d8 80%,#4d7493 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 1%,#6ea7d8 20%,#6ea7d8 80%,#4d7493 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#4d7493',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 1%,#6ea7d8 20%,#6ea7d8 80%,#4d7493 100%); /* W3C */
}

.buttonTracking
{
	background: #78421C; /* Old browsers */
    background: -moz-linear-gradient(top, #4d7493 1%, #6ea7d8 20%, #6ea7d8 80%, #a1bfda 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4d7493), color-stop(20%,#6ea7d8), color-stop(80%,#6ea7d8), color-stop(100%,#a1bfda)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4d7493 1%,#6ea7d8 20%,#6ea7d8 80%,#a1bfda 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4d7493 1%,#6ea7d8 20%,#6ea7d8 80%,#a1bfda 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #4d7493 1%,#6ea7d8 20%,#6ea7d8 80%,#a1bfda 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7493', endColorstr='#a1bfda',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #4d7493 1%,#6ea7d8 20%,#6ea7d8 80%,#a1bfda 100%); /* W3C */		
}

.buttonTracking span
{
	position: relative;
	top: 1px;
	left: 1px;
}